<p>Form Array</p>
<div [formGroup]="groupFormWithArrayForm">
  <button (click)="fuck()">asd</button>
  <div formArrayName="arrayForm" *ngFor="let a of arrayForm.controls; let i = index;">
    <input [formControlName]="i.toString()"/>
  </div>
</div>

<p>Complex Form</p>
<div [formGroup]="formGroupWithComplex">
  <complex-form formControlName="complex"></complex-form>
</div>
